@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: radial-gradient(circle at 82.96% 50%, #a9ffe5 0, #94f4de 16.67%, #79e7d5 33.33%, #55d8ca 50%, #1cc9c0 66.67%, #00bcba 83.33%, #00b1b6 100%);
}

.cabecalho {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    height: 120px;
    
   }

.cabecalho-imagem {
    height: 230px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #4F4F4F;
    font-weight: 500;
    font-size: 20px;
}

.conteudo-principal{
    padding-top: 50px;
}

.conteudo-principal{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;

}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 90px;
}

.conteudo-principal-escrito-titulo{
font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 64px;
color: #fff2e7;
}

.conteudo-principal-escrito-subtilulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 37px;
    color: #c0dad7;
}

.conteudo-principal-escrito-paragrafo-um{
    font-family: 'Sarala', sans-serif;
    font-weight: 450;
    color: #444;
    font-size: 24px;
}

.conteudo-principal-escrito-paragrafo-dois{
    font-family: 'Sarala', sans-serif;
    font-weight: 450;
    color: #444;
    font-size: 20px;
}

.conteudo-principal-escrito-botao{
    background-color:#c0dad7;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

    .conteudo-secundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 60px;
    }

    .conteudo-titulo{
        border-top: 0.4px solid #fff2e7;
        padding-top: 48px;
        font-family: 'Merriweather', serif;
        font-weight: 700;
        color: #4F4F4F;
        height: 90px;
        font-size: 24px;
        
    }

    .conteudo-paragrafo-secundario{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    color: #444;
    font-size: 20px;
    
    }
